<mat-sidenav-container class="h-screen bg-transparent">
    <mat-sidenav mode="side" opened class="bg-blue-900 h-full w-1/6 rounded-r-3xl  flex flex-col">
        <header class="h-3/6 flex flex-col items-center justify-between mt-8">
            <div>
                <a class="flex flex-col items-center text-white text-3xl font-bold tracking-wider" routerLink="/"
                    routerLinkActive="router-link-active">
                    OPENCMS</a>
                <div class="flex items-center justify-between mt-8 mx-2">
                    <img class="w-12 mx-auto rounded-full p-1 bg-white" src="../assets/link.png" alt="Profile Picture">
                    <div>
                        <p class="text-gray-400 m-0">Welcome,</p>
                        <p class="text-gray-400 m-0">Demo</p>
                    </div>
                </div>
            </div>
            <nav>
                <mat-list class="flex flex-col items-center justify-between">
                    <mat-list-item [ngClass]="{'bg-cyan-300 rounded-full' : itemActive === 'dashboard'}"
                        class="my-5 hover:bg-cyan-300 hover:rounded-full text-white">
                        <a class="text-xl text-right" routerLink="/" routerLinkActive="router-link-active">
                            <span class="text-white hover:text-black">Map</span> </a>
                    </mat-list-item>
                    <mat-list-item class="my-5 hover:bg-cyan-300 hover:rounded-full text-white">
                        <a class="text-xl text-right" routerLink="/admin" routerLinkActive="router-link-active">
                            <span class="text-white hover:text-black">Admin</span></a>
                    </mat-list-item>
                </mat-list>
            </nav>
        </header>

        <footer class="h-2/6 flex flex-col justify-end justify-self-end">
            <ul class="bg-gray-500 flex items-center justify-between">
                <li class="py-8 px-4"><img src="../assets/marker.svg" class="m-2" alt=""></li>
                <li class="py-8 px-4"><img src="../assets/marker.svg" class="m-2" alt=""></li>
                <li class="py-8 px-4"><img src="../assets/marker.svg" class="m-2" alt=""></li>
                <li class="py-8 px-4"><img src="../assets/marker.svg" class="m-2" alt=""></li>
            </ul>
        </footer>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white w-5/6 ml-40">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>